# Ignore node_modules directories
node_modules/
client/node_modules/
api/node_modules/

# Ignore build output
client/build/
api/build/

# Ignore log files
*.log

# Ignore environment variable files
.env
client/.env
api/.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore coverage reports
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
