.form {
    &__wrapper {
        border: 1px solid $color-gray;
        padding: 30px;
        border-radius: $border-radius;
        max-width: 600px;
        margin: 0 auto;
        &--modal {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            height: 100%;
        }
    }
    &__button-wrapper {
        margin-top: auto;
        margin-left: auto;
        width: min-content;
        display: flex;
        gap: 5px;
    }
}
