.search-bar {
    &__wrapper {
        position: relative;
    }
    &__input {
        position: absolute;
        top: 7px;
        left: 50px;
        &::after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid $color-black;
            transform: rotate(90deg);
            background-color: $color-white;
            content: ' ';
            top: 8px;
            left: -10px;
        }

        input {
            background-color: $color-black;
            color: $color-white;
            border: none;
            border-radius: $border-radius;
        }
    }
}
