.main-template {
    &__content {
        padding: 20px;
        width: 92%;
        height: 100vh;
        margin-left: auto;
        position: relative;
    }
    &__title {
        font-size: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
}
