.main-template {
    &__content {
        width: 92%;
        margin-left: auto;
        padding: 20px;
        position: relative;
        height: 100vh;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
    }
}
