.sidebar {
    &__title {
        flex-basis: 10%;
    }
    &__wrapper {
        padding: 20px;
        gap: 20px;
        border-right: 1px solid $color-gray;
        width: 8%;
        height: 100vh;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
    }
}
