.tag {
    &__wrapper {
        background-color: $color-black;
        color: $color-white;
        border-radius: $border-radius;
        font-size: 12px;
        padding: 2px 8px;
        border: 1px solid transparent;
        overflow: hidden;
        max-width: 75px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &--clickable {
            cursor: pointer;
        }
        &--active {
            color: $color-black;
            background-color: $color-white;
            border: 1px solid $color-black;
        }
    }
}
