.note {
    height: 330px;
    width: 350px;
    padding: 10px;
    border-radius: $border-radius;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        > button:first-of-type {
            margin-left: auto;
        }
    }

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        color: $color-black;
        transition: 0.3s ease color;
        &:hover {
            color: $color-semi-transparent;
        }
    }

    &__description {
        font-size: 20px;
        padding: 5px 0px;
        margin: 10px 0px;
        flex: 1;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow-y: auto;
        white-space: pre-line;
        text-align: left;
    }

    &__date {
        font-size: 12px;
        font-weight: 100;
        margin-top: auto;
    }

    &__footer {
        display: flex;
    }

    &__add {
        align-self: self-end;
        margin-left: auto;
    }

    &__tags-wrapper {
        max-height: 50px;
        max-height: 50px;
        gap: 2px;
        display: flex;
        justify-content: end;
        align-items: center;
        flex: 0.75;
        flex-wrap: wrap;
        margin-left: auto;
        overflow-y: auto;
    }

    &--primary {
        background-color: $color-primary;
    }
    &--secondary {
        background-color: $color-secondary;
    }
    &--tertiary {
        background-color: $color-tertiary;
    }
}
