.note {
    border-radius: $border-radius;
    padding: 10px;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 350px;

    &__header {
        display: flex;
        > button:first-of-type {
            margin-left: auto;
        }
    }

    &__title {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        color: $color-black;
        transition: 0.3s ease color;
        &:hover {
            color: $color-semi-transparent;
        }
    }

    &__description {
        font-size: 20px;
        font-weight: bold;
        padding: 5px 0px;
        margin: 10px 0px;
        flex: 1;
        text-overflow: ellipsis;
        overflow-y: auto;
        white-space: pre-line;
    }

    &__date {
        margin-top: auto;
        font-size: 12px;
        font-weight: 100;
    }

    &__footer {
        display: flex;
    }

    &__tags-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
        flex: 0.75;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: auto;
        max-height: 50px;
        overflow-y: auto;
    }

    &--primary {
        background-color: $color-primary;
    }
    &--secondary {
        background-color: $color-secondary;
    }
    &--tertiary {
        background-color: $color-tertiary;
    }
}
