.button {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    &--light {
        border: 1px solid $color-black;
        background-color: $color-white;
        color: $color-black;
        border-radius: $border-radius;
        transition: 0.6s ease background-color;
        &:hover {
            background-color: $color-black;
            color: $color-white;
        }
    }
    &--dark {
        border: 1px solid $color-black;
        border-radius: $border-radius;
        background-color: $color-black;
        color: $color-white;
    }
    &--icon {
        border: 1px solid transparent;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $color-black;
        color: $color-white;
        transition: 0.6s ease background-color;
        &:hover {
            border: 1px solid $color-black;
            background-color: $color-white;
            color: $color-black;
        }
    }
    &--note {
        background-color: transparent;
        color: $color-semi-transparent;
        transition: 0.6s ease color;
        &:hover {
            color: $color-black;
        }
        > svg {
            height: 16px;
            width: 16px;
        }
    }
    &--note-fav {
        background-color: transparent;
        color: $color-black;
        transition: 0.6s ease color;
        &:hover {
            color: $color-low-transparent;
        }
        > svg {
            height: 16px;
            width: 16px;
        }
    }
    &--absolute {
        top: 20px;
        left: 20px;
        position: absolute;
    }
}
