.popup {
    &-content {
        padding: 25px;
        width: 30%;
        margin: auto;
        background: $color-white;
        border-radius: $border-radius;
        position: relative;
    }
    &-overlay {
        background: $color-low-transparent;
    }
    &-header {
        font-size: 24px;
        margin-bottom: 30px;
        text-align: center;
    }
    &-body {
        height: 300px;
        position: relative;
        &--no-height {
            height: 100px;
        }
    }
    @include respond-to(xxl) {
        &-content {
            width: 40%;
        }
    }
    @include respond-to(xl) {
        &-content {
            width: 50%;
        }
    }
    @include respond-to(lg) {
        &-content {
            width: 70%;
        }
    }
    @include respond-to(md) {
        &-content {
            width: 80%;
        }
    }
    @include respond-to(sm) {
        &-content {
            width: 95%;
        }
    }
}
