$color-primary: #fec971;
$color-secondary: #fe9b72;
$color-tertiary: #b693fd;
$color-white: #fff;
$color-black: #000;
$color-gray: #d3d3d3;

$border-radius: 5px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;
